
@{
    ViewData["Title"] = "فعالسازی ";
}

<h2>فعالسازی حساب کاربری</h2>
<hr>

@if (ViewBag.IsActive)
{
    <div class="alert alert-success">
        <p>
            حساب کاربری شما با موفقیت فعال شد
        </p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>
            حساب کاربری با این مشخصات وجود ندارد و یا قبلا فعال شده است
        </p>
    </div>
}

