@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<h2>بازیابی کلمه عبور</h2>

<hr />

@if (ViewBag.IsSuccess != null)
{
    <div class="alert alert-success">
        <p class="help-block">
            ایمیل بازیابی کلمه عبور با موفقیت ارسال شد.
        </p>
    </div>

}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>   
    <div class="form-group">
        <input type="submit" value="تایید و ارسال" class="btn btn-success" />
    </div>
</form>