@model LoginViewModel
@{
    ViewData["Title"] = "ورود به سایت";
}



    <section class="last-news-section border-radius ">
        <header><i class="fa fa-user fa-2x"></i>  <h3>ورود </h3> </header>
        
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11">

                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success" style="margin-right:10px;margin-top:10px">
                        <p class="help-block">
                            ورود با موفقیت انجام شد
                        </p>
                    </div>
                    <script>
                        //your delay in milliseconds
                        var delay = 3000;
                        setTimeout(function () { window.location = "https://localhost:44384"; }, delay);
                    </script>
                }
            <br />
                <div style="margin-right:10px;">
                    ورود از طریق گوگل:
                    <a href="/provider/Google" class="fa fa-google-plus"></a>
                </div>
                <hr />
                <form asp-action="Login" method="post" style="margin-right:10px;">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="نام کاربری" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="remember-me">
                        <label><input asp-for="RememberMe" type="checkbox" name="">  مرا بخاطر بسپار </label>
                    </div>
                    <div>
                        <a href="/ForgotPassword" class="text-danger">رمز عبور را فراموش کرده‌ام</a>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="ورود" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </section>