@model User
    
<div style="direction:rtl;padding:20px">
    <p>
        @Model.UserName عزیز!
    </p>
    <p>
        جهت  بازیابی کلمه عبور خود وارد لینک زیر شوید
    </p>
    <p>
        <a href="https://localhost:44384/Account/ResetPassword/@Model.ActiveCode">تغییر کلمه عبور</a>
    </p>
</div>